body{
	background-image: url('http://jpgwall.com/files/attach/images/157/064/013/e0720409345b71fa4ab7da6e8ed53722.jpg');
	background-size: cover;
}
h1{
	font-size: 70px;
}
p{
	text-align: right;
	
}
a{
	div
    border: 10px solid #8AC007;
    text-align: right;
}
h2{
	top: auto;
}
bottom{
	cursor:pointer;
 float:left; 
 margin:2px;
 display:block;
 padding:4px 8px;
 height:16px;
 border:1px solid #d7d7d7;
 text-align:center;
 text-decoration: none;   
 background-repeat:repeat-x;
 background:#fcfcfc;
 color:#9b9b9b;
 font-size:11px;
 font-family:"돋움,dotum,굴림,gulim,Vertical,Arial";
}